.question-card {
    color: #212427;
    
    padding: 16px;
    border-radius: 16px;
    width: 80%;
    height: auto;
    

    margin: 0 auto;
}

.question-text {
    color: #091133;
    font-weight: bold;
}

.question-card ul {
    list-style: none;
}

.question-options li {
    background-color: white;
    margin-top: 8px;
    border: 1.5px solid #621360;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}