:root {
    --primary-color: #009EE2;
    --secondary-color: #621360;
    --text-color-dark: #000000;
    --text-color-light: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}